﻿
@{

    List<edbe.Areas.Y.Models.PanelCategory> Categories = ViewBag.Categories;
    List<edbe.Areas.Y.Models.PanelCategory> FirstCategory = Categories.Where(f => f.ParentCategoryID == 0).OrderBy(f => f.IndexNo.Value).ToList();
    List<edbe.Areas.Y.Models.PanelCategory> SecondCategory = Categories.Where(f => f.ParentCategoryID != 0).ToList();
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <title>Metronic | Products Edit</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all" rel="stylesheet" type="text/css" />
    <link href="~/Areas/Y/Content/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/Y/Content/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Areas/Y/Content/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/Y/Content/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/Y/Content/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/Y/Content/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="~/Areas/Y/Content/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/Y/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/Y/Content/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/Y/Content/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/Y/Content/assets/global/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="~/Areas/Y/Content/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/Areas/Y/Content/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->

   

    <link href="~/Areas/Y/Content/assets/layouts/layout/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/Y/Content/assets/layouts/layout/css/themes/light2.min.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="~/Areas/Y/Content/assets/layouts/layout/css/custom.min.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="~/Areas/Y/Content/favicon.ico" />
</head>

<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
    <div class="page-header navbar navbar-fixed-top">
        <div class="page-header-inner ">
            <div class="page-logo">
                <a href="~/y/panel/index">
                    <img src="~/Areas/Y/Content/assets/layouts/layout/img/logo.png" alt="logo" class="logo-default" />
                </a>
                <div class="menu-toggler sidebar-toggler"> </div>
            </div>
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    <li class="dropdown dropdown-quick-sidebar-toggler">
                        <a href="~/Y/login/logout" class="dropdown-toggle"> <span style="color:black">Çıkış Yap</span>
                             <i class="icon-logout"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="clearfix"> </div>
    <div class="page-container">
        <div class="page-sidebar-wrapper">
            <div class="page-sidebar navbar-collapse collapse">
                <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
                    <li class="sidebar-toggler-wrapper hide">
                        <div class="sidebar-toggler"> </div>
                    </li>
                    <li class="sidebar-search-wrapper">
                        <form class="sidebar-search  " action="http://www.keenthemes.com/preview/metronic/theme/admin_1/page_general_search_3.html" method="POST">
                            <a href="javascript:;" class="remove">
                                <i class="icon-close"></i>
                            </a>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Ara...">
                                <span class="input-group-btn">
                                    <a href="javascript:;" class="btn submit">
                                        <i class="icon-magnifier"></i>
                                    </a>
                                </span>
                            </div>
                        </form>
                    </li>
                    <li class="heading">
                        <h3 class="uppercase">Menü</h3>
                    </li>

                    @{  foreach (var v in FirstCategory)
                        {
                            <li class="nav-item">
                                <a href="~/y/@v.Link" class="nav-link nav-toggle">
                                    <i class="icon-@v.Icon"></i>
                                    <span class="title">@v.CategoryName</span>
                                    <span class="arrow"></span>
                                </a>
                                @{ var result = Categories.Where(f => f.ParentCategoryID == v.Id).ToList();
                                    if (result.Count != 0)
                                    {
                                        <ul class="sub-menu">
                                            @foreach (var x in result)
                                            {
                                                <li class="nav-item  ">
                                                    <a href="~/y/@x.Link" class="nav-link nav-toggle">
                                                        <span class="title">@x.CategoryName</span>
                                                        <span class="arrow"></span>
                                                    </a>
                                                    @{ var secondresult = SecondCategory.Where(f => f.ParentCategoryID == x.Id).ToList();
                                                        if (secondresult.Count != 0)
                                                        {
                                                            <ul class="sub-menu">
                                                                @foreach (var z in secondresult)
                                                                {
                                                                    <li class="nav-item ">
                                                                        <a href="~/y/@z.Link" class="nav-link "> @z.CategoryName </a>
                                                                    </li>
                                                                }
                                                            </ul>
                                                        }
                                                    }
                                                </li>
                                                        }
                                        </ul>
                                                        }
                                }
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
   
        <div class="page-content-wrapper">
            <div class="page-content">
                <div class="page-bar">
                    <ul class="page-breadcrumb">
                        <li>
                            <a href="index-2.html">Home</a>
                            <i class="fa fa-circle"></i>
                        </li>
                        <li>
                            <span>Form Stuff</span>
                        </li>
                    </ul>
                    <div class="page-toolbar">
                        <div class="btn-group pull-right">
                            <button type="button" class="btn green btn-sm btn-outline dropdown-toggle" data-toggle="dropdown">
                                Actions
                                <i class="fa fa-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li>
                                    <a href="#">
                                        <i class="icon-bell"></i> Action
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-shield"></i> Another action
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-user"></i> Something else here
                                    </a>
                                </li>
                                <li class="divider"> </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-bag"></i> Separated link
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                

                @{ Html.RenderPartial("_Alerts"); }

                @RenderBody()
            </div>
        </div>


             
      
    </div>
    <div class="page-footer">
        <div class="page-footer-inner">
            2016 &copy; Edbe e-Mos Sistemleri v1.2
            <a href="#" title="Satın almak ve fiyatlarımız hakkında bilgi edinmek için lütfen tıkayınız" target="_blank">Satın almak ve fiyatlarımız hakkında bilgi edinmek için lütfen tıkayınız</a>
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>



    <script src="~/Areas/Y/Content/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="~/Areas/Y/Content/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Areas/Y/Content/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
    <script src="~/Areas/Y/Content/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="~/Areas/Y/Content/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/Areas/Y/Content/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/Areas/Y/Content/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="~/Areas/Y/Content/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="~/Areas/Y/Content/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/Areas/Y/Content/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/Areas/Y/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/Areas/Y/Content/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/Areas/Y/Content/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script src="~/Areas/Y/Content/assets/global/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js" type="text/javascript"></script>

    <script src="~/Areas/Y/Content/assets/global/plugins/plupload/js/plupload.full.min.js" type="text/javascript"></script>
    <script src="~/Areas/Y/Content/assets/global/plugins/fancybox/source/jquery.fancybox.pack.js" type="text/javascript"></script>
    <script src="~/Areas/Y/Content/assets/global/scripts/app.min.js" type="text/javascript"></script>
 
    <script src="~/Areas/Y/Content/assets/pages/scripts/ecommerce-products-edit.min.js" type="text/javascript"></script>
 
    <script src="~/Areas/Y/Content/assets/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
    <script src="~/Areas/Y/Content/assets/layouts/layout/scripts/demo.min.js" type="text/javascript"></script>
    <script src="~/Areas/Y/Content/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
    
    @Scripts.Render("~/Areas/Y/Content/ckeditor/ckeditor.js");

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'http://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-37564768-1', 'keenthemes.com');
        ga('send', 'pageview');
    </script>


</body>

</html>

