﻿@model edbe.Models.ContentCategory

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Y/Views/Shared/_LayoutPage1.cshtml";
    int ParamId = ViewBag.ParamId;
    List<edbe.Models.ContentCategory> ContentCategories = new List<edbe.Models.ContentCategory>();
    if (ParamId == 1)
    {
        ContentCategories = ViewBag.ContentCategories;
    }
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h3>İçerik Kategorisi Ekle</h3>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label class="control-label col-md-3">
                Kategori İsmi
                <span class="required"> * </span>
            </label>

            <div class="col-md-4">
                <div class="input-icon right">
                    <i class="fa"></i>
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control",@placeholder="Hakkımızda, Şirket Bilgileri vs.." } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>


        @{
            if (ParamId == 0)
            {
                <input type="hidden" name="SubCategoryID" value="@ParamId" />
            }

            if (ParamId == 1)
            {

                <div class="form-group">
                    <label class="control-label col-md-3">
                       Üst Kategori
                        <span class="required"> * </span>
                    </label>
                    <div class="col-md-4">

                        <div class="input-icon right">
                            <select id="notific8_life" name="SubCategoryID" class="form-control input-medium" style="color:red" required>
                                <option value="" disabled="disabled" selected="selected">Kategori Seçiniz</option>
                                @foreach (var v in ContentCategories)
                                {
                                    <option value="@v.Id"> @v.Name </option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            }
        }

        <div class="form-group">
            <label class="control-label col-md-3">
                Açıklama
                <span class="required"> * </span>
            </label>

            <div class="col-md-4">
                <div class="input-icon right">
                    <i class="fa"></i>
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control",@placeholder="Açıklama bilgisi" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">
                Sıra No
                <span class="required"> * </span>
            </label>

            <div class="col-md-4">
                <div class="input-icon right">
                    <i class="fa"></i>
                    @Html.EditorFor(model => model.IndexNo, new { htmlAttributes = new { @class = "form-control", @min="1",@placeholder="Örn: 1" } })
                    @Html.ValidationMessageFor(model => model.IndexNo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">
            </label>
            <div class="col-md-4">
                <div class="input-icon right">
                    <i class="fa"></i>
                    <input type="submit" value="Ekle" class="btn blue" />
                    @Html.ActionLink("Geri Dön", "Index","",new {@class="btn grey" })
                </div>
            </div>
        </div>


        

    </div>
}
