﻿@model edbe.Models.ContentCategory

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Y/Views/Shared/_LayoutPage1.cshtml";
}
<div>
    <h3>Kategori Bilgileri</h3>
    <hr />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <dl class="dl-horizontal">
            <dt>
                Kategori Adı :
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                Açıklaması :
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt>
                Sıra Numarası :
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IndexNo)
            </dd>
            <hr />
            <dt>
                <input type="submit" value="Sil" class="btn red" />
            </dt>
            <dd>
                @Html.ActionLink("Vazgeç", "Index", "", new { @class = "btn blue" })
            </dd>
        </dl>
    }
</div>
