﻿@model edbe.Models.ContentCategory

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Y/Views/Shared/_LayoutPage1.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit portlet-form bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bubble font-green"></i>
                    <span class="caption-subject font-green bold uppercase">KATEGORİ DÜZENLE</span>
                </div>
                <div class="actions">
                    <div class="btn-group">
                        @Html.ActionLink("Geri Dön", "Index", "", new { @class = "btn green btn-outline btn-circle btn-sm" })
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <form action="~/y/pcontentcategory/edit/@Model.Id" method="post" id="form_sample_2" class="form-horizontal">

                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-body">
                        <div class="form-group margin-top-20">
                            <label class="control-label col-md-3">
                                Kategori Adı
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <i class="fa"></i>
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        @Html.EditorFor(model => model.SubCategoryID, new { htmlAttributes = new { @class = "form-control", @type = "hidden" } })
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                Açıklama
                                <span class="required"> * </span>
                            </label>

                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <i class="fa"></i>
                                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                Sıra No
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <i class="fa"></i>
                                    @Html.EditorFor(model => model.IndexNo, new { htmlAttributes = new { @class = "form-control", @min = "1" } })
                                    @Html.ValidationMessageFor(model => model.IndexNo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <input value="Kaydet" type="submit" class="btn green">
                                @Html.ActionLink("Geri Dön", "Index", "", new { @class = "btn grey" })
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>