﻿@model IEnumerable<edbe.Models.ContentCategory>

@{
    ViewBag.Title = "SubContentCategories";
    Layout = "~/Areas/Y/Views/Shared/_LayoutPage1.cshtml";
   
}

<h3 class="page-title">
    Alt Kategoriler
</h3>

<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                      @ViewBag.CategoryName

                </div>
                <div class="tools">
                    @Html.ActionLink("Geri Dön", "index", "", new { @class = "", @style = "color:white",@title="Geri Dön" })
                    <a href="javascript:;" class="collapse" data-original-title="Gizle/Göster" title="Gizle/Göster"> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                              <th>
                                Kategori Adı
                            </th>
                            <th>
                                Açıklama
                            </th>
                            <th>
                                Sıra No
                            </th>
                            <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.OrderBy(F => F.IndexNo))
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                               
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IndexNo)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Düzenle", "Edit", new { id = item.Id }, new { @class = "btn btn-success btn-sm", @style = "color:white;" })
                                        @Html.ActionLink("Sil", "Delete", new { id = item.Id }, new { @class = "btn btn btn-sm", @style = "background-color:red;color:white" })
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
