﻿@model edbe.Models.Headline

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Y/Views/Shared/_LayoutPage1.cshtml";
}

<div class="page-title">
    <h3>Slider / Manşet Ekleme Bölümü</h3>
</div>


<div class="row">
    <div class="col-md-8">
        <div class="portlet light portlet-fit portlet-form bordered">
            <div class="portlet-body">
                <form action="~/y/PHeadline/create" method="post" id="form_sample_2" enctype="multipart/form-data" class="form-horizontal">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-body">
                        <div class="form-group margin-top-20">
                            @Html.Label("Manşet Adı", new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @style="width:323px;" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Manşet Açıklaması", new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                <textarea class="form-control text-box multiple-line" style="width:323px; height:75px;" data-val="true"
                                data-val-length="Adres alanı uzunluğu en fazla 250 olan bir dize olmalıdır."
                                data-val-length-max="250" maxlength="250" data-val-required="Adres zorunlu" id="Description"
                                name="Description" type="text"></textarea>

                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Manşet Fotoğrafı Seçiniz", new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                <img id="output" style="width:324px;height:150px;" src="~/Areas/Y/Content/Images/preview.png" />
                                <input type="file" accept="image/*" style="width:324px;" class="btn blue" name="Image" onchange="loadFile(event)">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2"></label>
                            <div class="col-md-4">
                                <input value="Ekle" type="submit" class="btn blue">
                                @Html.ActionLink("Geri Dön", "Index", "", new { @class = "btn grey" })
                            </div>
                        </div>
                        

                    </div>
                </form>
            </div>

        </div>
    </div>
    <div class="col-md-4">
        <div class="portlet box yellow-crusta">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-warning"></i>UYARI 
                </div>
                <div class="tools">
                    <a href="javascript:;" class="expand" data-original-title="Gizle/Göster" title=""> </a>
                    <a href="javascript:;" class="remove" data-original-title="Kaldır" title=""> </a>
                </div>
            </div>
            <div class="portlet-body">
                <p> Lütfen Manşet fotoğrafını eklemeden önce bilgilendirmeye dikkat ediniz !</p>
                <p> Ekleyeceğiniz manşet fotoğrafının;
                <ul style="color:red;">
                    <li>
                      <h3>YÜKSEKLİK : 450 Pixel</h3>  
                    </li>
                    <li>
                        <h3>GENİŞLİK  : 1500 Pixel</h3>
                    </li>
                    </ul>  
                olacak şekilde ayarlayınız..
                <br />
                Aksi halde yüklediğiniz fotoğrafta bozulmalar yaşanabilir..
                 </p>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/jquery-1.10.2.js"></script>

<script>
  var loadFile = function(event) {
    var output = document.getElementById('output');
    output.src = URL.createObjectURL(event.target.files[0]);
  };
</script>
