﻿@model edbe.Models.Content

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Y/Views/Shared/_LayoutPage1.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h3>İçerik Düzenleme Bölümü</h3>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        <input type="hidden" name="ContentCategoryID" value="@ViewBag.ContentCategoryID"/>
        
        <div class="form-group">
            @Html.Label("Kategori Adı :", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Sayfa Başlığı :", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("İçerik Bölümü :", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Html)
                @Html.ValidationMessageFor(model => model.Html, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kaydet" class="btn blue" />
                @Html.ActionLink("Geri Dön", "Index","",new { @class="btn default"})
            </div>
        </div>
    </div>
}


<script src="~/Areas/Y/Content/ckfinder/ckfinder.js"></script>
<script src="~/Areas/Y/Content/ckeditor/ckeditor.js"></script>
<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Areas/Y/Content/ckfinder/ckfinder.js"></script>

<script type="text/javascript">
    var editor = CKEDITOR.instances['Html'];
            if (editor) { editor.destroy(true); }
            CKEDITOR.replace('Html', {
            enterMode: CKEDITOR.ENTER_BR,
            });
            CKFinder.setupCKEditor(null, '@Url.Content("~/Content/images/UploadedPhoto/")');
</script>
