﻿@model IEnumerable<edbe.Models.ContentCategory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Y/Views/Shared/_LayoutPage1.cshtml";

    var CategoryBase = Model.Where(F => F.SubCategoryID == 0).ToList();
    var categories = Model.Where(f => f.SubCategoryID != 0).OrderBy(f => f.SubCategoryID).ToList();

}


<h3 class="page-title">
    İçerik
</h3>
<div class="row">

    <div class="col-md-8">
        <div>
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject font-red-sharp bold uppercase" style="color:red">ÖRNEK KATEGORİ</span>
                    </div>

                    <div class="actions">

                        <a class="btn btn-circle btn-icon-only btn-default" href="#">
                            <i class="fa fa-edit"></i>
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <h1 class="text-center" style="color:red">Sayfa Başlığı</h1>
                    <div class="row">
                        <div class="col-md-12">
                            <p style="color:red"> Paragraf Bilgileri </p>
                            <p style="color:red"> Girmek istediğiniz bilgiler görmüş olduğunuz tasarımdaki gibi kaydedilecektir.</p>
                            <p style="color:red"> Bir kategoriyi düzenlemek isterseniz sağ üstteki icon'a tıklamanız yeterli olacaktır.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @{
        foreach (var v in CategoryBase)
        {
            <div class="col-md-4">
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-cogs"></i>@v.Name
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse" data-original-title="Gizle/Göster" title="Gizle/Göster"> </a>
                            <a href="javascript:;" class="remove" data-original-title="Kaldır" title="Kaldır"> </a>
                        </div>
                    </div>
                    <div class="portlet-body" style="display:none">
                        <div class="table-scrollable">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th> Kategori Adı</th>
                                        <th> Sıra No</th>
                                        <th> </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in categories.Where(f => f.SubCategoryID == v.Id).OrderBy(F=>F.IndexNo))
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.IndexNo)
                                            </td>
                                            <td>
                                                @Html.ActionLink("İçeriği Gör", "details", new { id = item.Id }, new { @class = "btn blue btn-sm " })
                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        }
    }

</div>