﻿@model edbe.Models.Shop

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Y/Views/Shared/_LayoutPage1.cshtml";
}
<div>
    <h3>Mağaza Bilgileri</h3>
    <hr />
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <dl class="dl-horizontal">
            <dt>
                Şehir :
            </dt>
            <dd>
                @Html.DisplayFor(model => model.City)
            </dd>
            <dt>
                Şube Adı :
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                Telefon :
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Phone)
            </dd>

            <dt>
                Fax:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Fax)
            </dd>

            <dt>
                E-Mail :
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt>
                Adres :
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>
          <hr />
            <dt>
                <input type="submit" value="Sil" class="btn red" /> 
            </dt>
            <dd>
                @Html.ActionLink("Vazgeç", "Index", "", new { @class = "btn blue" })
            </dd>
        </dl>
    }
</div>
