﻿@model edbe.Models.Shop

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Y/Views/Shared/_LayoutPage1.cshtml";
}



<div>
    <h3>Detaylı Görünüm</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Şehir :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            Şube Adı :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Telefon :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            Fax:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fax)
        </dd>

        <dt>
            E-Mail :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            Adres :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <hr />
        <dt>
            @Html.ActionLink("Düzenle", "Edit", new { id = Model.Id }, new { @class = "btn green" })
            
        </dt>
        <dd>
            @Html.ActionLink("Geri Dön", "Index", "", new { @class = "btn grey" })
        </dd>
    </dl>
</div>
