﻿@model edbe.Models.Shop

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Y/Views/Shared/_LayoutPage1.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit portlet-form bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bubble font-green"></i>
                    <span class="caption-subject font-green bold uppercase">MAĞAZA BİLGİLERİNİ GÜNCELLE</span>
                </div>
                <div class="actions">
                    <div class="btn-group">
                        @Html.ActionLink("Geri Dön", "Index", "", new { @class = "btn green btn-outline btn-circle btn-sm" })
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <form action="~/y/pshop/edit/@Model.Id" method="post" id="form_sample_2" class="form-horizontal">

                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                    <div class="form-body">
                        <div class="form-group margin-top-20">
                            <label class="control-label col-md-3">
                                Mağaza Adı
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <i class="fa"></i>
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                Şehir Adı
                                <span class="required"> * </span>
                            </label>

                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <i class="fa"></i>
                                    @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                Telefon
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <i class="fa"></i>
                                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @maxlength = "11", @min = "11", @type = "tel" } })
                                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                Fax
                                <span class="required"> * </span>
                            </label>

                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <i class="fa"></i>
                                    @Html.EditorFor(model => model.Fax, new { htmlAttributes = new { @class = "form-control", @maxlength = "11", @min = "11", @type = "tel" } })
                                    @Html.ValidationMessageFor(model => model.Fax, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                E-Mail
                                <span class="required"> * </span>
                            </label>

                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <i class="fa"></i>
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                Adres
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <i class="fa"></i>
                                    <textarea class="form-control text-box multiple-line"  style="width:323px; height:150px;" data-val="true" 
                                              data-val-length="Address alanı uzunluğu en fazla 250 olan bir dize olmalıdır."
                                              data-val-length-max="250" data-val-required="Adres zorunlu" id="Address" 
                                              name="Address" type="text">@Model.Address</textarea>
                                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <input value="Kaydet" type="submit"  class="btn blue">
                                @Html.ActionLink("Geri Dön", "Index", "", new { @class = "btn grey" })
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


