﻿@model IEnumerable<edbe.Models.Shop>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Y/Views/Shared/_LayoutPage1.cshtml";
}
<h3 class="page-title">
    Mağazalar
</h3>

<div class="row">
            <div class="col-md-12">
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption">
                            @Html.ActionLink(" # Yeni Mağaza Ekle", "Create","", new { @id = "sample_editable_1_new", @class = "btn white btn-sm", @style = "color:black" })
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse" data-original-title="Gizle/Göster" title="Gizle/Göster"> </a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>
                                            Şehir
                                        </th>
                                        <th>
                                            Şube Adı
                                        </th>
                                        <th>
                                            Telefon
                                        </th>
                                        <th>
                                            Fax
                                        </th>
                                        <th>
                                            E-Mail
                                        </th>

                                        <th>
                                            Mağaza ile ilgili işlem yapmak için tıklayınız
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.City)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Phone)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Fax)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Email)
                                            </td>
                                            <td>
                                                @Html.ActionLink("Düzenle", "Edit", new { id = item.Id }, new { @class = "btn btn-success btn-sm ", @style = "color:white;" })
                                                @Html.ActionLink("Görüntüle", "Details", new { id = item.Id }, new { @class = "btn blue btn-sm", @style = "color:white;" })
                                                @Html.ActionLink("Sil", "Delete", new { id = item.Id }, new { @class = "btn btn btn-sm", @style = "background-color:red; color:white;" })
                                            </td>
                                        </tr>
                                        
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
</div>
