﻿@model edbe.Models.Admin

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all" rel="stylesheet" type="text/css" />
    <link href="~/areas/Y/Content/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/areas/Y/Content/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/areas/Y/Content/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/areas/Y/Content/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <link href="~/areas/Y/Content/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <link href="~/areas/Y/Content/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/areas/Y/Content/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/areas/Y/Content/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/areas/Y/Content/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <link href="~/areas/Y/Content/assets/pages/css/login.min.css" rel="stylesheet" type="text/css" />
    <script src="~/scripts/MicrosoftAjax.js" type="text/javascript"></script>
    <script src="~/scripts/MicrosoftMvcValidation.js" type="text/javascript"></script>
    <link rel="shortcut icon" href="favicon.ico" />
    <title>Kullanıcı Giriş Sayfası</title>
</head>
<body class="login">
    <div class="menu-toggler sidebar-toggler"></div>
    <div class="logo">
        <a href="index.html">
            <img src="/areas/Y/Content/assets/pages/img/logo-big.png" alt="" />
        </a>
    </div>
    <div class="content">
        @{ Html.EnableClientValidation();}
        @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { @class = "login-form" }))
        {@Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <h3>Admin Panel</h3>
            <div class="text-center">
                <label class="text-danger">@ViewBag.Message</label>
            </div>
            <div class="form-group">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control form-control-solid placeholder-no-fix", @placeholder = "Kullanıcı Adı :", @maxlength = "25", @minlength = "3" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.PasswordFor(model => model.Password, new { @class = "form-control form-control-solid placeholder-no-fix", @type = "password", @placeholder = "Şifre :", @maxlength = "25", @minlength = "5" })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
            <p>
                <input id="login" type="submit" class="btn green uppercase" value="GİRİŞ YAP" />
            </p>
        }
    </div>
    <div class="copyright"> 2016 © EDBE Admin Panel </div>
    <!--[if lt IE 9]>
    <script src="../assets/global/plugins/respond.min.js"></script>
    <script src="../assets/global/plugins/excanvas.min.js"></script>
    <![endif]-->
    <script src="~/areas/Y/Content/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="~/areas/Y/Content/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/areas/Y/Content/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
    <script src="~/areas/Y/Content/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="~/areas/Y/Content/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/areas/Y/Content/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/areas/Y/Content/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="~/areas/Y/Content/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <script src="~/areas/Y/Content/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/areas/Y/Content/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
    <script src="~/areas/Y/Content/assets/global/plugins/morris/morris.min.js" type="text/javascript"></script>
    <script src="~/areas/Y/Content/assets/global/plugins/morris/raphael-min.js" type="text/javascript"></script>
    <script src="~/areas/Y/Content/assets/global/plugins/counterup/jquery.waypoints.min.js" type="text/javascript"></script>
    <script src="~/areas/Y/Content/assets/global/plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>
    <script src="~/areas/Y/Content/assets/global/plugins/amcharts/amcharts/amcharts.js" type="text/javascript"></script>
    @*
        <script src="../assets/global/plugins/amcharts/amcharts/serial.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/amcharts/amcharts/pie.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/amcharts/amcharts/radar.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/amcharts/amcharts/themes/light.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/amcharts/amcharts/themes/patterns.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/amcharts/amcharts/themes/chalk.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/amcharts/ammap/ammap.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/amcharts/ammap/maps/js/worldLow.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/amcharts/amstockcharts/amstock.js" type="text/javascript"></script>
    *@
    <script src="~/areas/Y/Content/assets/global/plugins/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
    <script src="~/areas/Y/Content/assets/global/plugins/flot/jquery.flot.min.js" type="text/javascript"></script>
    <script src="~/areas/Y/Content/assets/global/plugins/flot/jquery.flot.resize.min.js" type="text/javascript"></script>
    <script src="~/areas/Y/Content/assets/global/plugins/flot/jquery.flot.categories.min.js" type="text/javascript"></script>
    <script src="~/areas/Y/Content/assets/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js" type="text/javascript"></script>
    <script src="~/areas/Y/Content/assets/global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
    @*
        <script src="../assets/global/plugins/jqvmap/jqvmap/jquery.vmap.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.russia.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.europe.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.germany.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.usa.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js" type="text/javascript"></script>
    *@
    <script src="~/areas/Y/Content/assets/global/scripts/app.min.js" type="text/javascript"></script>
    <script src="~/areas/Y/Content/assets/pages/scripts/dashboard.min.js" type="text/javascript"></script>
    <script src="~/areas/Y/Content/assets/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
    <script src="~/areas/Y/Content/assets/layouts/layout/scripts/demo.min.js" type="text/javascript"></script>
    <script src="~/areas/Y/Content/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-37564768-1', 'edgememis.com.tr');
        ga('send', 'pageview');
    </script>
</body>
</html>
